body  {
    background: url(https://c1.wallpaperflare.com/preview/69/791/706/uea-university-east-anglia-lasdun.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}