.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.timeshighereducation.com/sites/default/files/institution/header_image/header_image_-_uea_campus.jpg");
  background-size: cover;
}