#index_jumbo {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.timeshighereducation.com/sites/default/files/institution/header_image/header_image_-_uea_campus.jpg");
  background-size: cover;
}

#dash_jumbo {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.uea.ac.uk/documents/3154295/3310218/About+Us+Homepage+Banner.jpeg/4efb463a-5359-4065-b847-f9db6bbf2fce?t=1372346830234");
  background-size: cover;
}

/*.navbar-dark .navbar-nav .nav-item .nav-link:focus,*/
/*.navbar-dark .navbar-nav .nav-item .nav-link:hover {*/
/*  !*font-size: 105%;*!*/
/*  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));*/
/*}*/