#index_jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.timeshighereducation.com/sites/default/files/institution/header_image/header_image_-_uea_campus.jpg");
    background-size: cover;
}

#dash_jumbo {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.uea.ac.uk/documents/2654296/5212779/Accom+ziggurats+banner.jpg");
    background-size: cover;
}

#reg_jumbo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://www.pub-quiz.com/quiz_image/1375437795_UEAStudentsUnionNorwich.jpg");
    background-size: cover;
    background-position: center;
}