<!-- forgotPassword.html -->
<!-- USER FORGOT PASSWORD -->
{% extends 'base.html' %}
{% block title %}{{ super() }} Forgot Password{% endblock %}
{% set active_page = "forgotPassword" %}
{% set hide_nav = True %}


{% block content %}
    <div class="container bg-white p-2">

        <div class="col-sm-12">

            <div class="card shadow">

                <h3 class="card-header">Forgot Your Password?</h3>

                <div class="card-body">
                    <div class="container">
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning">
                                <i class="fa fa-lg fa-exclamation-circle"></i>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="alert alert-info mt-2 mb-4" role="alert">
                        <b>We All Forget Sometimes...</b>
                        <hr>
                        To reset your password please enter your valid email address and confirm that you are not a
                        robot and submit the request. A reset email will be sent with further instructions on resetting
                        your password.
                    </div>

                    <form action="/forgotPassword" method="POST" role="forgotPass-form">

                        <div class="form-group">
                            <label for="title"><b>Email Address:</b></label>
                            <input type="text" class="form-control mb-4" id="email" name="email" placeholder="Email">

                            <div class="row justify-content-center">
                                <div class="g-recaptcha" data-sitekey="6LegU9sUAAAAAJDIOyEjYrrbHV5MS4RtzESQcOtk"></div>
                            </div>

                            <button type="submit" class="btn btn-success border-dark btn-block mb-2 mt-4"
                                    name="forgotPasswordEmail">
                                Send Request
                            </button>

                            <a role="button" href="/index" class="btn btn-danger border-dark btn-block my-2">
                                Cancel Request
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="fixed-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; UEA Life</small>
        </div>
    </footer>
{% endblock %}