<!-- forgotPassword.html -->
{% extends 'base.html' %}s
{% block title %}{{ super() }} Forgot Password{% endblock %}
{% set active_page = "forgotPassword" %}
{% set hide_nav = True %}


{% block content %}

    <br>
    <!-- Div to display any error messages created when logging in -->
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <i class="fa fa-lg fa-exclamation-circle"></i>
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Forgot Your Password?</h5>
                <form action="/forgotPassword" method="POST" role="forgotPass-form">
                    <div class="form-group">
                        <label for="title"> Email </label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                        <div class="row justify-content-center mt-2">
                            <div class="g-recaptcha" data-sitekey="6LegU9sUAAAAAJDIOyEjYrrbHV5MS4RtzESQcOtk"></div>
                        </div>
                        <div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-success" name="createAccount">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="fixed-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; UEA Life</small>
        </div>
    </footer>
{% endblock %}