<!-- index.html -->
<!-- WELCOME PAGE USER LOGS IN OR REGISTERS PRIOR TO ACCESSING MAIN HOME -->
{% extends "base.html" %}
{% set active_page = "index" %}

{% block content %}

<div class="jumbotron text-center">
  <h1>Welcome to UEA Life</h1>
  <p>An Online Forum for UEA Student and Staff</p>
</div>

{#<div class="container">#}
{#    <h1>Landing Page</h1>#}
{#    <p>Sign up to UEA Life today!</p>#}
{#</div>#}

<div class="container text-center">
  <div class="row">
    <div class="col-lg-6">
      <div class="card" style="width: 49%;">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="card" style="width: 49%;">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}
