<!-- index.html -->
<!-- WELCOME PAGE USER LOGS IN OR REGISTERS PRIOR TO ACCESSING MAIN HOME -->
{% extends "base.html" %}
{% block title %}{{ super() }} Welcome{% endblock %}
{% set active_page = "index" %}
{% set hide_nav = True %}

{% block content %}

    <div class="jumbotron jumbotron-fluid" id="index_jumbo">
        <div class="container text-white">
            <h1 class="display-4">Welcome to UEA Life</h1>
            <p class="lead">An Online Forum for UEA Student and Staff</p>
        </div>
    </div>

    <div class="card-deck mb-4">

        <div class="card shadow">
            <img class="card-img-top"
                 src="https://www.uea.ac.uk/documents/2654296/5212779/Accom+ziggurats+banner.jpg"
                 alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">Welcome to UEA Life</h1>
                <hr>
                <h4 class="card-subtitle mb-2 text-muted">New to the UEA? Need help with Campus Life? Have advice for new students?</h4>
                <p class="card-text">UEA Life offers student and staff a forum to exchange advice, experiences and answer other
                    questions</p>
                <a href="#" class="card-link">Learn More</a>
            </div>
        </div>

        <div class="card shadow">
            <div class=card-body>
                <!-- Div to display any error messages created when logging in -->
                <div class="container">
                    {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <i class="fa fa-lg fa-exclamation-circle"></i>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>

                <h4 class="card-title">Login</h4>
                <hr>
                <form action="/login" method="post" role="login-form">
                    <div class="form-group">
                        <label for="email"> Email Address: </label>
                        <input type="text" class="form-control" id="email" name="email"
                               placeholder="Email Address"/>
                        <label for="password"> Password </label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="g-recaptcha" data-sitekey="6LegU9sUAAAAAJDIOyEjYrrbHV5MS4RtzESQcOtk"></div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </div>
                    </div>

                </form>
                <div class="row pt-2 justify-content-center">
                    <div class="col-sm-5">
                        <a href="/register" class="btn btn-outline-success float-right btn-block">Sign Up</a>
                    </div>
                    <div class="col-sm-5">
                        <a href="/forgotPassword" class="btn btn-outline-info float-left btn-block">Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer id="fixed-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; UEA Life</small>
        </div>
    </footer>
{% endblock %}
