<!-- newPost.html -->
<!-- CREATE/ADD A NEW POST -->
{% extends 'base.html' %}
{% block title %}{{ super() }} New Post{% endblock %}
{% set active_page = "newPost" %}
{% block current_user %}{{ user }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-5">
            <div class="card-body">

                <h5 class="card-title">Create a New Post</h5>

                <form method="POST" action="/createPost">

                    <div class="container">
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="form-group">
                        <label for="category"> Category </label>
                        <select class="form-control" name="category" id="category">
                            <option>General</option>
                            <option>Finance</option>
                            <option>Accommodation</option>
                            <option>Student Union</option>
                            <option>Local Area</option>
                            <option>Travel</option>
                        </select>

                        <label for="title"> Title </label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title">

                        <label for="content"> Comment </label>
                        <textarea class="form-control" rows="5" id="content" name="content" placeholder="Post Your Content"></textarea>
                    </div>
                    <div>
                        <div style="text-align: center;">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
