<!-- passwordReset.html -->
<!-- RESET USER PASSWORD -->
{% extends 'base.html' %}
{% block title %}{{ super() }} Reset Password{% endblock %}
{% set active_page = "passwordReset" %}
{% set hide_nav = True %}


{% block content %}

    <br>
    <!-- Div to display any error messages created when logging in -->
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <i class="fa fa-lg fa-exclamation-circle"></i>
                {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="container">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Reset Your Password</h5>
                <form action="/passwordReset" method="POST" role="resetPassword-form">
                    <div class="form-group">
                        <input type="hidden" name="id" id="id" value="{{ request.args.get('id') }}">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Password" name="password" data-toggle="tooltip" title="Password requirements:
                        - One upper-case character.
                        - One lower-case character.
                        - One number.
                        - One special character.
                        - At least 8 characters in length.">
                        <label for="password">Verify Password:</label>
                        <input type="password" class="form-control" id="verifyPassword" placeholder="Retype Password" name="verifyPassword"
                               data-toggle="tooltip" title="Password requirements:
                        - One upper-case character.
                        - One lower-case character.
                        - One number.
                        - One special character.
                        - At least 8 characters in length.">
                        <div>
                            <div style="text-align: center;">
                                <button type="submit" class="btn btn-success" name="resetPassword">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="fixed-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; UEA Life</small>
        </div>
    </footer>
{% endblock %}
