<!-- passwordReset.html -->
<!-- RESET USER PASSWORD -->
{% extends 'base.html' %}
{% block title %}{{ super() }} Reset Password{% endblock %}
{% set active_page = "passwordReset" %}
{% set hide_nav = True %}

{% block content %}
    <div class="container bg-white p-2">

    <div class="col-sm-12">

    <div class="card shadow">

        <h3 class="card-header">Reset Your Password?</h3>

                <div class="card-body">
                    <div class="container">
                        {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning">
                            <div class="alert alert-warning">
                            <div class="alert alert-warning">
                                <i class="fa fa-lg fa-exclamation-circle"></i>
                                {{ message | safe}}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>

                <div class="alert alert-info mt-2 mb-4" role="alert">
                    <b>Good Password Practice</b>
                    <hr>
                    A good password consists of a mixture of upper and lower case characters, numbers and
                    special characters. Avoid using easily guessable passwords, such as "password123". For
                    greater security use a unique password for this account and do not reuse it for other online
                    accounts. Regularly changing your passwords is also good practice for protecting yourself
                    online.
                </div>

                <form action="/passwordReset" method="POST" role="resetPassword-form">
                    <div class="form-group">

                            <input type="hidden" name="id" id="id" value="{{ request.args.get('id') | safe}}">

                        <div class="row align-items-center my-4">
                            <div class="col-12">
                                <label for="password"><b>New Password:</b></label>
                                <div class="input-group mt-1">
                                    <div class="input-group-prepend">
                                        <a class="btn btn-info" type="button" id="button-addon1" tabindex="0"
                                           data-container="body" data-placement="top" data-trigger="focus"
                                           data-toggle="popover" data-html="true" title="Password Requirements"
                                           data-content="Password must be at least 8 characters long and contain at least:
                                                   <br /> - One Upper-Case Character,
                                                   <br /> - One Lower-Case Character,
                                                   <br /> - One Number,
                                                   <br /> - One Special Character">
                                            <i class="fa text-white fa-lg fa-question"></i>
                                        </a>
                                    </div>
                                    <input type="password" class="form-control" id="password" placeholder="Password"
                                           name="password" aria-describedby="button-addon1">
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center my-4">
                            <div class="col-12">
                                <label for="password"><b>Verify Password:</b></label>
                                <div class="input-group mt-1">
                                    <div class="input-group-prepend">
                                        <a class="btn btn-info" type="button" id="button-addon1" tabindex="0"
                                           data-container="body" data-placement="top" data-trigger="focus"
                                           data-toggle="popover" data-html="true" title="Password Requirements"
                                           data-content="Password must be at least 8 characters long and contain at least:
                                                   <br /> - One Upper-Case Character,
                                                   <br /> - One Lower-Case Character,
                                                   <br /> - One Number,
                                                   <br /> - One Special Character">
                                            <i class="fa text-white fa-lg fa-question"></i>
                                        </a>
                                    </div>

                                    <input type="password" class="form-control" id="verifyPassword"
                                           placeholder="Retype Password" name="verifyPassword"
                                           aria-describedby="button-addon1">
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success border-dark btn-block mb-2 mt-4"
                                name="resetPassword">
                            Submit
                        </button>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="fixed-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
        <div class="container text-center">
            <small>Copyright &copy; UEA Life</small>
        </div>
    </footer>
{% endblock %}
