<!-- dashboard.html -->
<!-- MAIN HOME SCREEN POST USER LOGIN/ACCOUNT CREATION -->
{% extends 'base.html' %}
{% set active_page = "profile" %}

{% block content %}

<div class="container">
  <div class="card pl-4 mt-5 pt-2">
    <h5 class="card-title">Profile:</h5>
    <div class="row">
      Profile Picture:
    </div>
    <div class="row">
      Name:
    </div>
    <div class="row">
      Date Joined:
    </div>
    <div class="row">
      Post Count:
    </div>
    <div class="row">
      Recent Posts:
    </div>
  </div>
</div>

{% endblock %}
